 document.write('
<img id="bi"
	src="/s/3910642/5601/1' + viewGuidString + '/' + timestampBi + '' + referrerString + '' + paramPrefix + 'url=' + url + '"
	style="width: 1px; height: 1px" alt="">
');
</script>
<noscript>
	<div>
		<img
			src="http://livestat.derstandard.at/cgi-bin/ivw2/CP/Newsroom/Inland/ipowien/Artikel/I/noScript1384416174664"
			width="1" height="1" alt=""><img
			src="http://derstand.oewabox.at/cgi-bin/ivw/CP/RedCont/Politik/PolitikInland/derStandard.at;CP/Newsroom/Inland/ipowien/Artikel?d=noScript1384416174664"
			width="1" height="1" alt=""><img id="bi"
			src="/s/3910642/5601/1/0/1384416174664?url=0"
			style="width: 1px; height: 1px" alt="">
	</div>
</noscript>
</div>
<div id="pageTop" class="ch_inland object stdChrome">
	<div id="breadcrumb" class="lnkcol" data-role="menu"
		data-description="breadcrumb"
		xmlns:v="http://rdf.data-vocabulary.org/#">
		<a id="logo" class="item" typeof="v:Breadcrumb" rel="v:url"
			href="http://derstandard.at"><span property="v:title">derStandard.at</span></a>›<span
			class="item" typeof="v:Breadcrumb"><a href="/Inland"
			rel="v:url" property="v:title">Inland</a></span>›<span class="item"
			typeof="v:Breadcrumb"><a href="/r1227287323006/Wiener-Politik"
			rel="v:url" property="v:title">Wiener Politik</a></span>
	</div>
	<div id="navigation" data-role="menu" data-description="mainmenu">
		<div id="navHome">
			<a href="/">Seite1</a>
		</div>
		<div id="navLine1" class="active">
			<ul>
				<li id="nav_international" class=""><a href="/International">International</a>
				<ul>
						<li id="nav_europa" class=""><a href="/r514/Europa">Europa</a></li>
						<li id="nav_eu" class=""><a href="/r651/EU">Europäische
								Union</a></li>
						<li id="nav_amerika" class=""><a
							href="/r2288/Nord--und-Lateinamerika">Amerika</a></li>
						<li id="nav_nahost" class=""><a href="/r655/Nahost">Nahost</a></li>
						<li id="nav_asien" class=""><a href="/r653/Asien-Pazifik">Asien-Pazifik</a></li>
						<li id="nav_afrika" class=""><a href="/r652/Afrika">Afrika</a></li>
					</ul></li>
				<li id="nav_inland" class="active"><a href="/Inland">Inland</a>
				<ul>
						<li class="nav_empty"></li>
					</ul></li>
				<li id="nav_wirtschaft" class=""><a href="/Wirtschaft">Wirtschaft</a>
				<ul>
						<li id="nav_unternehmen" class=""><a href="/r166/Unternehmen">Unternehmen</a></li>
						<li id="nav_finanzen" class=""><a
							href="/r368/Finanzen--Boerse">Finanzen & Börse</a></li>
						<li id="nav_atx" class=""><a
							href="/Kursinfo/WertpapierDetail.aspx?InstrumentId=526906">ATX</a></li>
						<li id="nav_indizes" class=""><a
							href="/Kursinfo/MarktUebersicht.aspx">Indizes</a></li>
						<li id="nav_aktien" class=""><a
							href="/Kursinfo/WertpapierSuche.aspx">Aktien</a></li>
						<li id="nav_fonds" class=""><a href="/r478/Fonds">Fonds</a></li>
						<li id="nav_waehrungen" class=""><a
							href="/Kursinfo/Waehrungen.aspx?waehrung=1">Währungen</a></li>
						<li id="nav_rohstoffe" class=""><a
							href="/Kursinfo/Rohstoffe.aspx">Rohstoffe</a></li>
						<li id="nav_zinsen" class=""><a href="/Kursinfo/Zinsen.aspx">Zinsen</a></li>
						<li id="nav_portfolio" class=""><a href="/DepotPortfolio">Watchlist
								& Portfolio</a></li>
					</ul></li>
				<li id="nav_web" class=""><a href="/Web">Web</a>
				<ul>
						<li id="nav_innovationen" class=""><a
							href="/r249/Innovationen">Innovationen</a></li>
						<li id="nav_itbusiness" class=""><a href="/r375/IT-Business">IT-Business</a></li>
						<li id="nav_telekommunikation" class=""><a
							href="/r154/Telekom">Telekom</a></li>
						<li id="nav_netzpolitik" class=""><a href="/r406/Netzpolitik">Netzpolitik</a></li>
						<li id="nav_games" class=""><a href="/r271/Games">Games</a></li>
						<li id="nav_webvermischtes" class=""><a href="/r2634/Webmix">Webmix</a></li>
					</ul></li>
				<li id="nav_sport" class=""><a href="/Sport">Sport</a>
				<ul style="padding-left: 110px">
						<li id="nav_fussball" class=""><a href="/r246/Fussball">Fußball</a></li>
						<li id="nav_motorsport" class=""><a href="/r4032/Motorsport">Motorsport</a></li>
						<li id="nav_formel1" class=""><a href="/r245/Formel-1">Formel
								1</a></li>
						<li id="nav_wintersport" class=""><a href="/r918/Wintersport">Wintersport</a></li>
						<li id="nav_ski" class=""><a href="/r463/Ski-Alpin">Ski</a></li>
						<li id="nav_eishockey" class=""><a href="/r2509/Eishockey">Eishockey</a></li>
						<li id="nav_mehrsport" class=""><a href="/r397/Mehr-Sport">Mehr
								Sport</a></li>
						<li id="nav_tennis" class=""><a href="/r539/Tennis">Tennis</a></li>
						<li id="nav_sporttabellen" class=""><a href="/Sporttabellen">Sporttabellen</a></li>
					</ul></li>
				<li id="nav_panorama" class=""><a href="/Panorama">Panorama</a>
				<ul style="padding-left: 160px">
						<li id="nav_chronik" class=""><a
							href="/r364/Oesterreich-Chronik">Österreich-Chronik</a></li>
						<li id="nav_wien" class=""><a href="/r635/Wien">Wien</a></li>
						<li id="nav_weltchronik" class=""><a
							href="/r1289609261273/Welt-Chronik">Welt-Chronik</a></li>
						<li id="nav_gesellschaft" class=""><a
							href="/r2937/Gesellschaft">Gesellschaft</a></li>
						<li id="nav_panoramatiere" class=""><a
							href="/r1326504292589/Tiere">Tiere</a></li>
						<li id="nav_umwelt" class=""><a href="/r632/Umwelt">Umwelt</a></li>
						<li id="nav_wetter" class=""><a href="/Wetter"
							onClick="_gaq.push(['_trackEvent', 'Wetter', 'Navigation', 'Wiener Politik']);">Wetter</a></li>
					</ul></li>
				<li id="nav_etat" class=""><a href="/Etat">Etat</a>
				<ul style="padding-left: 323px">
						<li id="nav_internet" class=""><a href="/r374/Online">Online</a></li>
						<li id="nav_print" class=""><a href="/r413/Print">Print</a></li>
						<li id="nav_tv" class=""><a href="/r640/TV">TV</a></li>
						<li id="nav_orfreform" class=""><a href="/r1249/ORF">ORF</a></li>
						<li id="nav_radio" class=""><a href="/r641/Radio">Radio</a></li>
						<li id="nav_werbung" class=""><a href="/r316/Werbung--PR">Werbung
								& PR</a></li>
						<li id="nav_preise" class=""><a href="/r411/Werbepreise">Werbepreise</a></li>
					</ul></li>
				<li id="nav_kultur" class=""><a href="/Kultur">Kultur</a>
				<ul style="padding-left: 230px">
						<li id="nav_film" class=""><a href="/r664/Film">Film</a></li>
						<li id="nav_kino" class=""><a href="/Kino">Kinoprogramm</a></li>
						<li id="nav_musikkultur" class=""><a href="/r658/Musik">Musik</a></li>
						<li id="nav_buehne" class=""><a href="/r665/Buehne">Bühne</a></li>
						<li id="nav_kunstkultur" class=""><a
							href="/r661/Bildende-Kunst">Bildende Kunst</a></li>
						<li id="nav_literatur" class=""><a href="/r659/Literatur">Literatur</a></li>
						<li id="nav_kulturpolitik" class=""><a
							href="/r727/Kultur--Politik">Kulturpolitik</a></li>
					</ul></li>
				<li id="nav_wissenschaft" class=""><a href="/Wissenschaft">Wissenschaft</a>
				<ul style="padding-left: 380px">
						<li id="nav_mensch" class=""><a href="/r626/Mensch">Mensch</a></li>
						<li id="nav_natur" class=""><a href="/r627/Natur">Natur</a></li>
						<li id="nav_raum" class=""><a href="/r1223/Raum">Raum</a></li>
						<li id="nav_technik" class=""><a href="/r628/Technik">Technik</a></li>
						<li id="nav_welt" class=""><a href="/r629/Welt">Welt</a></li>
						<li id="nav_zeit" class=""><a href="/r1317/Zeit">Zeit</a></li>
						<li id="nav_zoom" class=""><a href="/r4218/Zoom">Zoom</a></li>
					</ul></li>
				<li id="nav_gesundheit" class=""><a href="/Gesundheit">Gesundheit</a>
				<ul style="padding-left: 455px">
						<li id="nav_vorsorgeg" class=""><a href="/r4675/Vorsorge">Vorsorge</a></li>
						<li id="nav_krankheitg" class=""><a
							href="/r1237228970612/Krankheit">Krankheit</a></li>
						<li id="nav_therapie" class=""><a
							href="/r1234509373726/Therapie">Therapie</a></li>
						<li id="nav_leben" class=""><a href="/r4409/Leben">Leben</a></li>
						<li id="nav_serviceg" class=""><a
							href="/r1237228211483/Service">Service</a></li>
					</ul></li>
				<li id="nav_bildung" class=""><a href="/Bildung">Bildung</a>
				<ul style="padding-left: 575px">
						<li id="nav_schueler" class=""><a href="/r65/Schule">Schule</a></li>
						<li id="nav_uni" class=""><a href="/r1035/Uni">Uni</a></li>
						<li id="nav_unifh" class=""><a href="/r3789/Fachhochschule">Fachhochschule</a></li>
						<li id="nav_lehre" class=""><a
							href="/r5989/Lehre--Berufsschule">Lehre</a></li>
						<li id="nav_subildungberuf" class=""><a
							href="/r6282/Berufseinstieg">Berufseinstieg</a></li>
					</ul></li>
				<li id="nav_reisen" class=""><a href="/Reisen">Reisen</a>
				<ul style="padding-left: 398px">
						<li id="nav_reiseaktuell" class=""><a
							href="/r1988/Reisen-aktuell">Reisen aktuell</a></li>
						<li id="nav_oesterreich" class=""><a
							href="/r838/Urlaub-in-Oesterreich">Urlaub in Österreich</a></li>
						<li id="nav_r-europa" class=""><a href="/r105/Europa-Reisen">Europa
								Reisen</a></li>
						<li id="nav_r_fernreisen" class=""><a
							href="/r1339639210855/Fernreisen">Fernreisen</a></li>
						<li id="nav_reiseblogs" class=""><a
							href="/r1330390480903/Reiseblogs">Reiseblogs</a></li>
						<li id="nav_schulferien-oesterreich" class=""><a
							href="/1342947485683/Schulferien-Oesterreich">Schulferien</a></li>
					</ul></li>
				<li id="nav_lifestyle" class=""><a href="/Lifestyle">Lifestyle</a>
				<ul style="padding-left: 445px">
						<li id="nav_essentrinken" class=""><a
							href="/r1229702248850/Essen--Trinken">Essen & Trinken</a></li>
						<li id="nav_modebeauty" class=""><a href="/r4363/ModeBeauty">Mode
								& Beauty</a></li>
						<li id="nav_designinterieur" class=""><a
							href="/r4364/DesignInterieur">Design & Interieur</a></li>
						<li id="nav_spielenlesen" class=""><a
							href="/r1229777262316/Spielen--Lesen">Spielen & Lesen</a></li>
						<li id="nav_garten" class=""><a href="/r2215/Gruen--Zeug">Grün
								& Zeug</a></li>
					</ul></li>
				<li id="nav_familie" class=""><a href="/Familie">Familie</a>
				<ul style="padding-left: 573px">
						<li id="nav_baby" class=""><a href="/r1343744380101/Baby">Baby</a></li>
						<li id="nav_kind" class=""><a href="/r1699/Kind">Kind</a></li>
						<li id="nav_jugend" class=""><a href="/r2950/Jugend">Jugend</a></li>
						<li id="nav_partnerschaft" class=""><a
							href="/r5584/Partnerschaft">Partnerschaft</a></li>
						<li id="nav_generationen" class=""><a
							href="/r1343744381926/Generationen">Generationen</a></li>
						<li id="nav_quax" class=""><a href="http://www.quax.at/">Quax.at</a></li>
					</ul></li>
			</ul>
		</div>
		<div id="navLine2" class="">
			<ul>
				<li id="nav_meinung" class=""><a href="/Meinung">Meinung</a></li>
				<li id="nav_blogs" class=""><a href="/Blogs">Blogs</a></li>
				<li id="nav_diestandardcrosslink" class=""><a
					href="http://dieStandard.at"><i>die</i>Standard.at</a></li>
				<li id="nav_dastandardcrosslink" class=""><a
					href="http://daStandard.at"><em
						style="font-family: courier new, serif; font-size: 1.2em; font-weight: normal; font-style: normal">da</em>Standard.at</a></li>
				<li id="nav_zuzweit" class="right"><a class="special"
					href="http://zuzweit.parship.at/">ZuZweit</a></li>
				<li id="nav_gebrauchtwagen" class="right"><a class="special"
					href="/Gebrauchtwagen/Suche">Gebrauchtwagen</a></li>
				<li id="nav_automobil" class="right"><a class="special"
					href="/Automobil">AutoMobil</a></li>
				<li id="nav_immobilien" class="right"><a class="special"
					href="/Immobilien">Immobilien</a></li>
				<li id="nav_karriere" class="right"><a class="special"
					href="/Karriere">Karriere</a></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">